html {
    background: url(background9.jpg) no-repeat center center fixed transparent;
    background-size: cover;
}

html, body {
    height: 73%;
    margin: 0;
}

img {
    border: 2px solid #fff;
    border-radius: 50px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(116, 159, 230, 0.8);
    width: 100%;
}

.container p {
    animation-duration: 2.5s;
    animation-iteration-count: 2;
    animation-name: lightSpeedIn;
}

@keyframes lightSpeedIn {
    from {
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      transform: skewX(20deg);
      opacity: 1;
    }
  
    80% {
      transform: skewX(-5deg);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
  }

.text {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 25px;
    margin: 5px;
    text-align: center;
}

.dropbtn {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 16px;
    font-size: 18px;
    border: 2px solid #2b64cf;
    margin: 25px 25px 0 25px;
    width: 220px;
    border-radius: 5px;
}

.dropbtn.blue:hover {
    background-color: rgba(27, 47, 233, 0.4);
}

.dropbtn.orange {
    color: #c05107;
    border-color: #c05107;
}

.dropbtn.orange:hover {
    background-color: rgba(236, 165, 132, 0.4);
}

.dropbtn.red {
    color: #b31313;
    border-color: #b31313;
}

.dropbtn.red:hover {
    background-color: rgba(241, 107, 107, 0.4);
}

.dropbtn.green {
    color: #084d08;
    border-color: #084d08;
}

.dropbtn.green:hover {
    background-color: rgba(152, 235, 84, 0.582);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255, 0.6);
    min-width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 0px 25px 0 25px;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: rgba(174,221,245, 0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}



.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;
    margin-bottom: -40px;
    margin: 0;
}

.story {
    width: 400px;
}

.sociallink {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.sociallink img {
    margin: 0 10px;
}

.sociallink a:hover {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

.footer {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
}

